.container-card {
  display: grid;
  max-width: 300px;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color); // Textfarbe auf primäre Farbe setzen
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 200px;
}

mat-card-title {
  color: var(--primary-color);
}

mat-card-subtitle {
  color: #ccc;
}



