.container {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  gap: 20px !important;
  padding: 20px !important;
  width: 100% !important;
}

.mat-card {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  padding: 20px !important;
  border-radius: 10px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  text-align: center !important;
  width: 100% !important;
}

.mat-card-subtitle {
  color: var(--primary-color);
  margin-top: 20px;
}


